.interface-list {
  .interface-filter-row {
    margin: 8px;
  }

  .add-input {
    vertical-align: bottom;
  }

  .interface-list-hd {
    .title {
      display: flex;
      border-bottom: 1px solid rgba(0, 0, 0, .05);
      height: 44px;
      .title-label {
        line-height: 44px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 12px;
        h3 {
          margin: 0;
        }
      }
      .title-actions {
        flex: 1;
        padding-left: 5px;
        height: 35px;
        .actions-container {
          display: flex;
          margin: 0 auto;
          padding: 0 8px;
          width: 100%;
          justify-content: flex-end;
          align-items: center;
          height: 42px;
          .action-item {
            cursor: pointer;
            display: inline-block;
            position: relative;
            margin-left: 8px;
          }
        }
      }
    }
    .search-api-box {
      padding: 10px;
    }
  }

  .interface-list-bd {
    padding: 0;
    height: calc(100vh - 178px);
    overflow-y: auto;
    margin-bottom: 0;

    li {
      position: relative;
      padding: 14px 10px 10px;
      border-top: 1px solid rgba(0, 0, 0, .05);
      min-height: 74px;
      overflow: hidden;

      &:last-child {
        border-bottom: 1px solid rgba(0, 0, 0, .05);
      }

      &:hover {
        .interface-control {
          opacity: 1;
        }
        background-color: #f2f2f2;
      }


      .interface-item {
        cursor: pointer;
      }

      .interface-control {
        position: absolute;
        bottom: 10px;
        right: 10px;
        transition: opacity .5s linear;
        opacity: 0;
      }
    }

    .clicked {
      .interface-control {
        opacity: 1;
      }
      background-color: #eee;
    }

    p {
      color: #888;
      margin: 0;
      word-wrap: break-word;
    }
  }

  .interface-item {
    h3 {
      display: flex;
      align-items: center;
      line-height: 18px;
      margin-bottom: 10px;
      word-wrap: break-word;
      color: #1890ff;
      .method {
        color: #fff;
        font-weight: normal;
        font-size: 12px;
        padding: 0 4px;
        border-radius: 2px;
        &.ALL {
          background-color: #3b7bda;
        }
        &.GET {
          background-color: #70cf1f;
        }
        &.POST {
          background-color: #f0811c;
        }
        &.DELETE {
          background-color: #e63239;
        }
        &.PUT {
          background-color: #fca130;
        } 
      }

      .pathname {
        word-break: break-all;
        padding: 0 10px;
        font-family: monospace;
        font-weight: 600;
        color: #3b4151;
        font-size: 16px;
      }
    }
  }

  &.uncontrolled .interface-item {
    margin-right: initial;
  }

  .setting-icon,
  .delete-icon,
  .download-icon,
  .upload-icon {
    margin-left: 8px;
    font-size: 16px;
    cursor: pointer;
  }
}
